* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "微软雅黑", arial;
}

#father {
	width: 95%;
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

#head {
	margin: 0px auto 20px auto;
	letter-spacing: 0.18em;
}

#top a {
	display: inline-block;
	margin-left: 15px;
	margin-top: 15px;
	text-decoration: none;
	width: 100px;
	height: 60px;
	border-radius: 8% 24%;
	background: #00a4ff;
	color: white;
	font-weight: bold;
	font-size: 0.8em;
	text-align: center;
	line-height: 60px;
	letter-spacing: 0.14em;
}

#top a:hover {
	/* background: grey; */
	background: #3CB371;
	color: #FFC0CB;
}

#bottom {
	margin-top: 20px;
	font-size: 0.7em;
	color: gray;
	line-height: 1.8em;
	letter-spacing: 0.09em;
}

#bottom a {
	text-decoration: none;
	color: grey;
	font-weight: lighter;
}

@media (min-width: 600px) and (max-height: 999px) {
	#father {
		width: 70%;
	}
}

@media (min-width: 1000px) {
	#father {
		width: 50%;
	}
}
